## =========================
## Visual Studio / ASP.NET
## =========================

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio working folder
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/

# ASP.NET Core
appsettings.Development.json
appsettings.*.json.user

# Logs
*.log

# Test results
TestResults/

# NuGet
*.nupkg
.nuget/

# Publish output
publish/

# Tools
_ReSharper*/
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Visual Studio caches
*.dtbcache.v2

# Ігноруємо всі файли в папці ресурсів
#wwwroot/resources/

/[Ww]wwroot/[Rr]esources/
/[Ww]wwroot/[Rr]esources/*